*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 41, 41);
}
.container{
    position: relative;
    width:100%;
    max-width: 400px;
    background-color: grey;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.heading{
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    margin-bottom: 50px;

}

label{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    color: antiquewhite;
    text-transform: capitalize;
}

select{
    width: 100%;
    padding: 10px;  
    border-radius: 10px;
    margin-bottom:20px;
    background-color: azure;
    color: black;
    font-size: 14px;
}

.btn-start{

width: 100%;
height: 60px;
background-color: rgb(6, 75, 75);
border: none;
border-radius: 15px;
color: aliceblue;
font-size: 15px;
font-weight: 500;
cursor: pointer;
transition: all 0.3s linear;
}
.btn:hover{
    background-color: rgb(103, 235, 235);
}
.btn:disabled{
    cursor: not-allowed;
    background-color: rgb(17, 19, 19);
}
.hide{
    display: none;
}
 
.timer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.timer .progress{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid gray;
}
.timer .progress .progress-bar{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(to right , rgb(141, 60, 73),rgb(255, 0, 191));
    transition: 1s linear;
}
.timer .progress .progress-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.question.wrapper .number{
    color: aliceblue;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;


}
.question.wrapper .number .total{
    color: rgb(51, 50, 50);
    font-style: 18px;
}
 .question.wrapper .question{
    color: bisque;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
 }

 .question.wrapper.answer{
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    color: #ffff;
    border: 3px solid #3f4868;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s linear;
 }
 .answer .checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #3f4868;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .answer .checkbox i {
    color: #fff;
    font-size: 10px;
    opacity: 0;
    transition: all 0.3s;
  }
  .answer:hover:not(.checked) .checkbox,
.answer.selected .checkbox {
  background-color: #0c80ef;
  border-color: #0c80ef;
}
.answer.selected .checkbox i {
    opacity: 1;
  }
  .answer.correct {
    border-color: #0cef2a;
}
.answer.wrong {
  border-color: #fc3939;
}
.question-wrapper,
.answer-wrapper {
  margin-bottom: 50px;
}
.btn {
    width: 100%;
    height: 60px;
    background: #0c80ef;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .btn:hover {
    background: #0a6bc5;
  }
  .btn:disabled {
    background: #576081;
    cursor: not-allowed;
  }
  .btn.next {
    display: none;
  }
  
  .end-screen .score {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;
  }
  .score .score-text {
    color: #a2aace;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 120px;
  }
  
  @media (max-width: 468px) {
    .container {
      min-height: 100vh;
      max-width: 100%;
      border-radius: 0;
    }
  }